.wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.box1 {
  width: 41%;
}
.box2 {
  width: 56%;
}
mat-form-field {
  width: 100%;
}
table[mat-table] {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px 0;
}
