<section>
  <h1>{{ data.users[data.index].id }}</h1>
  <h1>{{ data.users[data.index].name }}</h1>
  <h1>{{ data.users[data.index].username }}</h1>
  <h3>{{ data.users[data.index].email }}</h3>
  <h4>{{ data.users[data.index].address.street }}</h4>
  <h4>{{ data.users[data.index].address.suite }}</h4>
  <h4>{{ data.users[data.index].address.city }}</h4>
  <h4>{{ data.users[data.index].address.zipcode }}</h4>
  <h5>{{ data.users[data.index].address.geo.lat }}</h5>
  <h5>{{ data.users[data.index].address.geo.lng }}</h5>
  <h3>{{ data.users[data.index].phone }}</h3>
  <h3>{{ data.users[data.index].website }}</h3>
  <h4>{{ data.users[data.index].company.name }}</h4>
  <h6>{{ data.users[data.index].company.catchPhrase }}</h6>
  <h6>{{ data.users[data.index].company.bs }}</h6>
</section>
