.table-wrapper {
  width: 80%;
  margin: auto;
}
table {
  margin: auto;
  text-align: center;
}
td.mat-cell {
  padding-right: 30px;
}
th.mat-header-cell {
  height: 60px;
  padding-right: 15px;
}
.title {
  width: 400px;
  text-align: left;
}
button {
  width: 200px;
}
.input-text {
  width: 196px;
}

.circle {
  height: 60px;
  width: 60px;
}
